<h1>Projects#Index</h1>

<%= render partial: "form", locals: {project: @project} %>

<% @projects.each do|project| %>
  <h3> <%= link_to project.name, project_path(project) %> </h3>
  <p> <%= project.description %> </p>
  <p> <%= project.due_date %> </p>
  <p> <%= project.status %> </p>
<% end %>

