<h3> <%= @project.name %> </h3>
<p> <%= @project.description %> </p>
<p> <%= @project.due_date %> </p>
<p> <%= @project.status %> </p>

<p> <%= link_to "Edit Project", edit_project_path(@project)%> </p>

<p> <%= link_to "Delete Project", project_path(@project), method: :delete%> </p>
